
src/Synonyms/SynProcessor/SynProcessor.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
src/Synonyms/SynProcessor/SynProcessor.xcodeproj/project.xcworkspace/xcuserdata/dmitryfeld.xcuserdatad/UserInterfaceState.xcuserstate
src/Words/Compiler/BaseCompiler.xcodeproj/project.xcworkspace/contents.xcworkspacedata
src/Words/Compiler/BaseCompiler.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
src/Words/Compiler/BaseCompiler.xcodeproj/project.xcworkspace/xcuserdata/dmitryfeld.xcuserdatad/UserInterfaceState.xcuserstate
src/Words/Compiler/BaseCompiler.xcodeproj/xcshareddata/xcschemes/BaseCompiler.xcscheme
src/Words/Compiler/BaseCompiler.xcodeproj/xcuserdata/dmitryfeld.xcuserdatad/xcschemes/xcschememanagement.plist
src/Words/Validator/BaseValidator.xcodeproj/xcuserdata/dmitryfeld.xcuserdatad/xcschemes/xcschememanagement.plist
src/Words/Validator/BaseValidator.xcodeproj/project.xcworkspace/xcuserdata/dmitryfeld.xcuserdatad/UserInterfaceState.xcuserstate
src/Words/Validator/BaseValidator.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
src/Words/Validator/BaseValidator.xcodeproj/project.xcworkspace/contents.xcworkspacedata
src/Words/Compiler/BaseCompiler.xcodeproj/xcuserdata/dmitryfeld.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
